<nav class="py-2 bg-light border-bottom">
	<div class="container d-flex flex-wrap">
		<ul class="nav me-auto">
			<li class="nav-item"><a href="/shop" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
			<li class="nav-item"><a href="/shop/purchaseList" class="nav-link link-dark px-2 active" aria-current="page">Purchase</a></li>
		</ul>
		<ul class="nav">
			<li class="nav-item"><a href="/users/login" class="nav-link link-dark px-2">Login</a></li>
			<li class="nav-item"><a href="/users/register" class="nav-link link-dark px-2">Sign up</a></li>
			<li class="nav-item"><a href="/users/logout" class="nav-link link-dark px-2">Logout</a></li>
		</ul>
	</div>
</nav>
<header class="py-3 mb-4 border-bottom">
	<div class="container d-flex flex-wrap justify-content-center">
		<a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
			<span class="fs-4">This is my shop</span>
		</a>
		<!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0">
			<input type="search" class="form-control" placeholder="Search..." aria-label="Search">
		</form> -->
	</div>
</header>