<!DOCTYPE html>
<html>
  <head>
    <title>PAGE</title>
    <%- include('./include') %>
  </head>
  <body>
    <%- include('./header') %>
    <h1>Welcome to my shop</h1>
    <%- include('./footer') %>
  </body>
</html>
