<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
		<script src="/javascripts/login.js"></script>
		<%- include('./include') %>
</head>
<body>
    <%- include('./header') %>
		<div class="container">
			<form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
        </div>
        <button type="button" class="btn btn-primary" onclick=login()>Login</button>
    	</form>
		</div>
    
    <%- include('./footer') %>
</body>
</html>